nav {
background: #4056A1;
height: 120px;
color: #ffffff; 
z-index: 10;
width: 100%;
padding: 1.5em;
position: fixed;
top: 0;
display: flex; /* makes it so there is space in between, doesnt go below each other*/
justify-content: space-between;
align-items: center;
}

nav > span {
  font-family: "Bungee", sans-serif;
  
}

nav > p {
  margin: 15px;

  @keyframes bounce { 
    0% { transform: translateY(0); }
    100% { transform: translateY(-50px); }
  }


} 

#new-tweet-button {
  background-color: #4056A1;
  border: none;
  cursor: pointer;
  display: flex;
align-items: center;
padding: 0px;
position: absolute;
margin-top: 60px;
animation: heyjump .5s infinite;
}

@keyframes heyjump {
  0%{transform: translateY(0px);}
  50%{transform: translateY(-5px)}
}

nav div {
  display: flex;
 align-items: center;
 

}

nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#new-tweet-button:hover {
  color: #ffffff;

}


.logo {
  font-family: "Bungee", sans-serif;
}

/* html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

/* body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
}
 /* */ 
